.navbar {
  position: absolute;
  width: 100%;
  display: none;
  background-color: white;
  height: 90px;
  padding: 0.5em 2em;
}

.nleft,
.nright {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.nleft > h1 {
  font-weight: 500;
}

.icon,
.profileinfo > img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.profileinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extrainfo {
  position: absolute;
  border: 1px solid gray;
  top: 40px;
  background-color: white;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.extrainfo > p {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 15px;
}
.extrainfo > p:hover {
  background-color: #e0e0e0;
}

@media (max-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
